PORT=3001
EVALUATION_SERVICE_URL=http://localhost:8080
EVAL_EMAIL="ch.en.u4cce23046@ch.students.amrita.edu"
EVAL_NAME="N SHIDDHARTH"
EVAL_MOBILE="8072889480"
EVAL_GITHUB="NShiddharth"
EVAL_ROLL_NO="CH.EN.U4CCE23046"
EVAL_ACCESS_CODE="PTBMmQ"
